
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
      <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Sport">Sports</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Government">Politics</a>
          </li>
        </ul>
        <ul class = "navbar-nav ">
        <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"(click)="onLogout()">Logout</button>
         </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a href="http://timesofindia.indiatimes.com/articleshow/93404922.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst"> <img src="assets/pol.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="http://timesofindia.indiatimes.com/articleshow/93404922.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst">With eye on 2024 polls, BJP
                    </a>
                <p class="card-text">LUCKNOW: The BJP has planned to expand its base among the Ya The BJP has planned to expand its base among the Ya The BJP has planned to expand its base among the Ya The BJP has planned to expand its base among the Ya
                    After the party's victory in the Azamgarh and Rampur Lok Sab 
</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.news18.com/news/politics/uddhav-thackeray-sacks-shiv-senas-nanded-district-chief-ahead-of-maha-cms-visit-5706259.html"> <img src="assets/udha.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.news18.com/news/politics/uddhav-thackeray-sacks-shiv-senas-nanded-district-chief-ahead-of-maha-cms-visit-5706259.html" >Uddhav Thackeray Sacks Shiv Sena's official</a><p> A statement from Shiv Sena secretary Vinayak Raut said Thackeray took the decision to remove Munde as the party’s Nanded district chief in view of his ”anti-party activities”. 
                    In June this year, Shinde and 39 other Sena legislators had rebelled against the party leadership, </p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
        
    </div>
    <div class="col">
        <div class="card">
            <a href="https://screenrant.com/spiderman-4-sam-raimi-poster-mj-peter-daughter/"> <img src="assets/indore.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://screenrant.com/spiderman-4-sam-raimi-poster-mj-peter-daughter/"> 'Donate' Clothes to Ranveer Singh</a>
                <p class="card-text">Ranveer Singh’s nude photoshoot spread like wildfire on social media. He bared it all for the Paper Magazine photos, also recreating American icon Burt Reynolds’ photos. Some people loved it, and since it’s India, 
                    some were outraged. An NGO reportedly started a clothes donation drive for actor.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.news18.com/news/india/indore-in-grip-of-fear-after-rescued-leopard-goes-missing-from-zoo-4516067.html"> <img src="assets/leo.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.news18.com/news/india/indore-in-grip-of-fear-after-rescued-leopard-goes-missing-from-zoo-4516067.html">Rescued Leopard Goes Missing From Zoo</a>
                <p class="card-text">On Wednesday night, the injured leopard was kept inside a cage that was covered with tarpaulin inside the zoo premise. However, the cat was found missing the next day and the administration was 
                    alerted after a thorough search by the forest officials.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.news18.com/news/world/major-flare-ups-between-israel-and-palestinians-in-gaza-a-timeline-5706223.html"> <img src="assets/fire.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.news18.com/news/world/major-flare-ups-between-israel-and-palestinians-in-gaza-a-timeline-5706223.html">Major Flare-ups Between Israel and Palestinians</a>
                <p class="card-text">Israeli air strikes hit Gaza and the militant Islamic Jihad group fired rockets into Israel on Sunday, the third day of violence that has killed about 30 Palestinians and sent Israelis in 
                    southern areas and cities including Tel Aviv into shelters including Tel Aviv into shelters.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.news18.com/news/world/colombias-first-ever-leftist-president-gustavo-petro-sworn-in-5704231.html"> <img src="assets/col.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.news18.com/news/world/colombias-first-ever-leftist-president-gustavo-petro-sworn-in-5704231.html">Colombia's First-ever Leftist President</a>
                <p class="card-text"> Ex-guerrilla and former mayor Gustavo Petro will be sworn in Sunday as Colombia’s first-ever leftist president, with plans for profound reforms in a country beset by economic inequality and drug violence.
                    The former senator, 62, takes over from the deeply unpopular Ivan Duque for a four-year term during which he will enjoy support.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
