

<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
      <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Sport">Sports</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Government">Politics</a>
          </li>
        </ul>
        <ul class = "navbar-nav ">
        <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"(click)="onLogout()">Logout</button>
         </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a href="https://m.cricbuzz.com/cricket-news/123365/samson-avesh-and-the-foundation-stone"> <img src="assets/Cricket1.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://m.cricbuzz.com/cricket-news/123365/samson-avesh-and-the-foundation-stone">Samson, Avesh, and the foundation stone.</a>
                <p class="card-text"> A little more than nine years ago, in an IPL game played between Rajasthan Royals and Royal Challengers Bangalore, 
                    an 18-year-old Sanju Samson cracked an inside-out loft off Murali Karthik to clear the boundary rope with ease.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://m.cricbuzz.com/cricket-news/123357/commonwealth-games-2022-smriti-mandhana-helps-india-beat-england-in-first-semifinal"> <img src="assets/Cric2.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://m.cricbuzz.com/cricket-news/123357/commonwealth-games-2022-smriti-mandhana-helps-india-beat-england-in-first-semifinal"> India to Gold medal match</a>
                <p class="card-text"> Smriti Mandhana scored the fastest half-century of CWG 2022, which twinned with an exceptional middle-overs 
                    bowling effort to propel India to a four-run win over England in the first semifinal at Edgbaston on Saturday.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.skysports.com/football/news/11679/12599417/man-city-transfer-news-and-rumours-summer-transfer-window-2022"> <img src="assets/Footbal1.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.skysports.com/football/news/11679/12599417/man-city-transfer-news-and-rumours-summer-transfer-window-2022"> Man-City transfer news and rumours</a>
                <p class="card-text">Pep Guardiola insists he wants Bernardo Silva to stay at Man-City but concedes the decision is out of his 
                    control amid interest from Barcelona. He says there is time to sign a left-back and refuses to deny that Bernardo Silva could leave the club this summer.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://wrestlingnews.co/wwe-news/former-wwe-star-announces-in-ring-retirement"> <img src="assets/wwe1.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://wrestlingnews.co/wwe-news/former-wwe-star-announces-in-ring-retirement">Former WWE star announces in-ring retirement</a>
                <p class="card-text">Matthew Rehwoldt, known to most fans as former WWE star Aiden English, announced this evening that he will no longer be taking wrestling 
                    bookings and this year has taught him that he is most comfortable on the microphone</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.skysports.com/transfer/news/12691/12655394/oleksandr-zinchenko-arsenal-sign-ukraine-international-from-man-city-in-32m-deal"> <img src="assets/Foot2.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.skysports.com/transfer/news/12691/12655394/oleksandr-zinchenko-arsenal-sign-ukraine-international-from-man-city-in-32m-deal">Man City sell Zinchenko to Arsenal for £32m</a>
                <p class="card-text">Oleksandr Zinchenko joins Arsenal from Man-City after £32m deal agreed; Ukrainian won four Premier League titles with Man-City but only made 15 league appearances last season; 
                    Arsenal already signed Gabriel Jesus from Pep Guardiola's side </p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.hindustantimes.com/sports/commonwealth-games/commonwealth-games-2022-live-day-9-focus-on-vinesh-phogat-ravi-dahiya-pv-sindhu-badminton-india-vs-england-t20-women-hockey-team-nikhat-zareen-boxing-101659772283146.html"> <img src="assets/Wres1.jpeg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.hindustantimes.com/sports/commonwealth-games/commonwealth-games-2022-live-day-9-focus-on-vinesh-phogat-ravi-dahiya-pv-sindhu-badminton-india-vs-england-t20-women-hockey-team-nikhat-zareen-boxing-101659772283146.html">Vinesh Phogat, Ravi Dahiya win gold </a>
                <p class="card-text">Vinesh Phogat, Ravi Dahiya and Naveen won gold medals in wrestling at the Commonwealth Games 2022. Ravi produced a commanding display against Nigeria's 
                    Ebikewenimo Welson and secured a 10-0 win in the men's 57kg final. </p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>