<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <app-navbar></app-navbar>
<body>
  <div class="container2">
    <div class="title">Category</div>
    <div class="content">
      <form #categoryForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Category Name</span>
            <input type="text"  name="categoryName" [(ngModel)] = "category.categoryName" >
          </div>
        <div class="gender-details">
        <div class="button">
          <input type="submit" name="submit" value="submit">
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

