<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
        <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Sport">Sports</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Government">Politics</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"
                    (click)="onLogout()">Logout</button>
            </ul>
        </div>
    </div>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a
                href="https://economictimes.indiatimes.com/markets/stocks/news/it-stocks-attractive-for-3-year-timeframe-surjitt-singh-arora/articleshow/93409897.cms">
                <img src="assets/IT.webp" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://economictimes.indiatimes.com/markets/stocks/news/it-stocks-attractive-for-3-year-timeframe-surjitt-singh-arora/articleshow/93409897.cms">IT
                    stocks attractive for 3-year : Surjitt Singh </a>
                <p class="card-text">As seen on a year-to-date basis, none of the stocks in the Nifty IT index are in
                    the green. Large-cap IT stocks like Tech Mahindra NSE 0.20 % and Wipro NSE 1.03 % have eroded up to
                    41 per cent of their market cap. Surjitt Singh Arora, Portfolio Manager-PMS, PGIM India, said that
                    the risk-reward is now favourable in large-cap IT stocks, with majority of global concerns getting
                    priced in.
                </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.cnbc.com/2022/08/06/elon-musk-challenges-twitter-ceo-parag-agrawal-to-a-debate-on-bots.html">
                <img src="assets/elon.jpeg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.cnbc.com/2022/08/06/elon-musk-challenges-twitter-ceo-parag-agrawal-to-a-debate-on-bots.html">Elon
                    Musk challenges Twitter CEO</a>
                <p> Elon Musk took shots at Twitter on Saturday, and dared CEO Parag Agrawal to debate him in the midst
                    of a legal battle over a $44 billion acquisition gone awry.
                    In a series of tweets Musk interacted with a fan who had summarized his accusations about Twitter,
                    including that it was stonewalling him and giving him, “outdated data,” and “a fake data set.”</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.worldbank.org/en/news/statement/2022/07/30/world-bank-welcomes-the-common-framework-statement-by-zambia-s-creditors">
                <img src="assets/wb.webp" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.worldbank.org/en/news/statement/2022/07/30/world-bank-welcomes-the-common-framework-statement-by-zambia-s-creditors">World
                    Bank Welcomes the Common Framework</a>
                <p class="card-text">The World Bank Group welcomes the Statement of the Creditor Committee for Zambia
                    that was issued today under the Common Framework for Debt Treatments beyond the DSSI. The statement
                    describes the Creditor Committee’s
                    commitment to provide long-term debt relief that matches the Zambian authorities’ ambitious fiscal
                    and structural reforms. </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.worldbank.org/en/news/press-release/2022/07/21/indermit-gill-appointed-chief-economist-of-the-world-bank-group-and-senior-vice-president-for-development-economics">
                <img src="assets/inder.webp" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.worldbank.org/en/news/press-release/2022/07/21/indermit-gill-appointed-chief-economist-of-the-world-bank-group-and-senior-vice-president-for-development-economics">Indermit
                    Gill Appointed Chief Economist of the World Bank Group</a>
                <p class="card-text">“Indermit Gill brings to this role a combination of leadership, invaluable
                    expertise and practical experience working with country governments on macroeconomic imbalances,
                    poverty, institutions, conflict, and climate change,” said Malpass.
                    “Indermit is widely respected for his intellectual contributions to development economics”.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.worldbank.org/en/country/india/brief/75-years-of-world-bank-in-india"> <img
                    src="assets/India.webp" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.worldbank.org/en/country/india/brief/75-years-of-world-bank-in-india">Celebrating
                    75 Years of World Bank-India Partnership</a>
                <p class="card-text">The country has also graduated from being a major recipient of concessional lending
                    to emerge as a donor in its own right.

                    As the World Bank completes 75 years of partnership with India, we look back through the decades at
                    some iconic landmarks along the way in which the World Bank was privileged to take part.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>