
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
      <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Sport">Sports</a>
          </li>
          <li class="nav-item">
            <a style="color:aliceblue;" class="nav-link" href="https://www.businessnews.com.au/Category/Government">Politics</a>
          </li>
        </ul>
        <ul class = "navbar-nav ">
        <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"(click)="onLogout()">Logout</button>
         </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a href="https://www.music-news.com/news/UK/150774/Beyonce-and-Madonna-s-Break-My-Soul-remix"> <img src="assets/Beyonce.webp" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.music-news.com/news/UK/150774/Beyonce-and-Madonna-s-Break-My-Soul-remix">Beyonce and Madonna's Break My Soul remix</a>
                <p class="card-text">The 40-year-old singer has dropped 'The Queens Remix' of 'Break My Soul' featuring snippets of
                     Madonna's 1990 hit Vogue. She also gives a shoutout to Madonna, 63, singing: "Queen Mother Madonna.
                     63, singing: "Queen Mother Madonna 63, singing: "Queen Mother Madonna
</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.nme.com/news/music/see-footage-from-phoebe-bridgers-secret-acoustic-show-in-california-3284524"> <img src="assets/music.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.nme.com/news/music/see-footage-from-phoebe-bridgers-secret-acoustic-show-in-california-3284524" >See footage from Phoebe Bridgers</a><p> Before kicking off the North American leg of her Reunion tour in San Francisco, Phoebe Bridgers detoured through Sonoma County to perform an intimate a
                    nd unplugged  and most notably, unannounced gig for less than 100 curious fans, free show – which took place on Thursday (August 4)</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
        
    </div>
    <div class="col">
        <div class="card">
            <a href="https://screenrant.com/spiderman-4-sam-raimi-poster-mj-peter-daughter/"> <img src="assets/spid.avif" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://screenrant.com/spiderman-4-sam-raimi-poster-mj-peter-daughter/"> Spider-Man 4 Fan Poster</a>
                <p class="card-text">A new fan poster for Spider-Man 4 imagines what the movie could look like if Peter Parker and Mary Jane Watson's daughter became Spider-Girl. Before Andrew Garfield and Tom Holland took on the role of Spider-Man.Tobey Maguire played the role for all three of Sam.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.empireonline.com/movies/news/eternals-2-is-happening-with-chloe-zhao-returning-according-to-patton-oswalt/"> <img src="assets/eternals.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.empireonline.com/movies/news/eternals-2-is-happening-with-chloe-zhao-returning-according-to-patton-oswalt/">Eternals 2 Is Happening</a>
                <p class="card-text">Eternals, released in November last year, was one of the most divisive movies in the MCU. Filled with her trademark gorgeous golden-hour cinematography, a whole new cast of ancient heroes, 
                    and asking big questions about humanity big questions about humanity</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.empireonline.com/movies/news/empire-issue-preview-house-of-the-dragon-andor-woman-king/"> <img src="assets/empire.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.empireonline.com/movies/news/empire-issue-preview-house-of-the-dragon-andor-woman-king/">Empire Issue Preview: House Of The Dragon, Andor</a>
                <p class="card-text">Empire’s September 2022 issue takes a major new look at the series, packed with interviews and exclusive images – and before it hits shelves on 4 August, you can take a sneak peek here. 
                    Order a copy online here, and  back at the Iron Throne.</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.empireonline.com/tv/news/every-dragon-has-its-own-personality-in-house-of-the-dragon-exclusive/"> <img src="assets/dragon.jpg" height="200px" width="100%"
                    class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link" href="https://www.empireonline.com/tv/news/every-dragon-has-its-own-personality-in-house-of-the-dragon-exclusive/">Every Dragon ‘Has Its Own Personality’</a>
                <p class="card-text"> In Thrones, dragons were almost mythical, with Daenerys Targaryen bringing her three – Drogon, Rhaegal and Viserion – to life long after 
                    the remarkable beasts were thought extinct. The dragon action made for some of the most memorable, exciting moments of the entire series (‘Dracarys!’)</p>
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                  </ul>
                </div>
        </div>
    </div>
