<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
        <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Sport">Sports</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Government">Politics</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"
                    (click)="onLogout()">Logout</button>
            </ul>
        </div>
    </div>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a href="https://www.sciencenews.org/article/james-webb-space-telescope-cartwheel-galaxy-image"> <img
                    src="assets/astro.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.sciencenews.org/article/james-webb-space-telescope-cartwheel-galaxy-image">James
                    Webb's telescope image reveals a galactic collision’s aftermath</a>
                <p class="card-text">The Cartwheel Galaxy, so called because of its bright inner ring and colorful outer
                    ring, lies about 500 million light-years from Earth. Astronomers think it used to be
                    a large spiral like the Milky Way, until a smaller galaxy smashed through it. </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.sciencenews.org/article/black-hole-merge-distant-spin-gravitational-wave"> <img
                    src="assets/blackhole.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.sciencenews.org/article/black-hole-merge-distant-spin-gravitational-wave">Two
                    black holes merged despite being born far apart in space</a>
                <p> Signals buried deep in data from gravitational wave observatories imply a collision of two black
                    holes that were clearly born in different places.
                    Almost all the spacetime ripples that experiments like the Laser Interferometer Gravitational-Wave
                    Observatory.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.sciencenews.org/article/organ-donation-pig-death-artificial-system-restored-cell-life">
                <img src="assets/neuro.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.sciencenews.org/article/organ-donation-pig-death-artificial-system-restored-cell-life">An
                    hour after pigs’ deaths, an artificial system restored cellular life</a>
                <p class="card-text">Call it cellular life support for dead pigs. A complex web of pumps, sensors and
                    artificial fluid can move oxygen, nutrients and drugs into pigs’ bodies,
                    preserving cells in organs that would otherwise deteriorate after the heart stops pumping</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="https://www.innovationnewsnetwork.com/low-carbon-future-nuclear-technology/24137/"> <img
                    src="assets/innovate.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.innovationnewsnetwork.com/low-carbon-future-nuclear-technology/24137/">Achieving a
                    low carbon future with nuclear technology</a>
                <p class="card-text">Diane Cameron, Head of the OECD Nuclear Energy Agency’s Division of Nuclear
                    Technology Development and Economics, discusses the role of nuclear
                    energy in the global drive toward net zero. global drive toward net zero.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.innovationnewsnetwork.com/advancing-lidar-systems-with-chip-based-beam-steering-technology/24132/">
                <img src="assets/chip.png" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.innovationnewsnetwork.com/advancing-lidar-systems-with-chip-based-beam-steering-technology/24132/">Advancing
                    lidar systems with chip-based beam steering technology</a>
                <p class="card-text">Scientists at the Technical University of Denmark have achieved a groundbreaking
                    advancement for lidar systems, developing a new chip-based beam steering technology
                    that significantly optimises lidar.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.innovationnewsnetwork.com/ai-three-dimensional-galaxy-distribution-analysis-universe/23443/">
                <img src="assets/robot.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.innovationnewsnetwork.com/ai-three-dimensional-galaxy-distribution-analysis-universe/23443/">AI:
                    Assisting three-dimensional galaxy distribution analysis of our Universe</a>
                <p class="card-text">A team from the Kavli Institute’s Physics and Mathematics of the Universe has
                    developed a simulation for three-dimensional galaxy distribution analysis of the Universe.
                    fusion energy research at the UK Atomic Energy Authority , Oxfordshire.
                </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>