<app-navbar></app-navbar>
<!-- <div class="row">
        <div class="col-2">
            <h1>Menu</h1>	
			<button type="button" class="btn btn-primary btn-block" (click)="userList()">Users</button>
			<button type="button" class="btn btn-primary btn-block" (click)="categoryList()">Articles Category</button>
			<button type="button" class="btn btn-primary btn-block" (click)="articleList()">Articles</button>
			<button type="button" class="btn btn-primary btn-block" (click)="commentsList()">Comments</button>
</div> -->

<html>

<body>
	<div class="row">
		<div class="col-2">
			<h1>Menu</h1>
			<button type="button" class="btn btn-primary btn-block" (click)="userList()">Users</button>
			<button type="button" class="btn btn-primary btn-block" (click)="categoryList()">Articles Category</button>
			<button type="button" class="btn btn-primary btn-block" (click)="articleList()">Articles</button>
			<button type="button" class="btn btn-primary btn-block" (click)="commentsList()">Comments</button>
		</div>
	</div>
</body>

</html>