<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-top: 10px; ">
    <div class="container-fluid">
        <a style="color:aliceblue;" class="navbar-brand" href="#">Talentsprint's Digital News Platform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link active" aria-current="page" href=" ">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Sport">Sports</a>
                </li>
                <li class="nav-item">
                    <a style="color:aliceblue;" class="nav-link"
                        href="https://www.businessnews.com.au/Category/Government">Politics</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <button style="color:aliceblue;" class="btn btn-info" style="padding-right: 50px; text-align: center;"
                    (click)="onLogout()">Logout</button>
            </ul>
        </div>
    </div>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px;">
    <div class="col">
        <div class="card">
            <a
                href="https://theprint.in/health/food-and-drinks-are-getting-sweeter-even-if-its-not-all-sugar-it-can-cause-diabetes/1069294/">
                <img src="assets/fiid.avif" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://theprint.in/health/food-and-drinks-are-getting-sweeter-even-if-its-not-all-sugar-it-can-cause-diabetes/1069294/">Food
                    and drinks are getting sweeter</a>
                <p class="card-text">sweetened foods are readily available, very cheap and advertised extensively. Now,
                    we are consuming too much sugar in foods and drinks – the kind that is added rather than sugar
                    that is naturally occurring. Consuming too much added sugar is bad news for health. </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://theprint.in/health/research-reveals-calcium-and-potassium-rich-diets-may-help-prevent-kidney-stones-from-developing-again/1071746/">
                <img src="assets/research.avif" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://theprint.in/health/research-reveals-calcium-and-potassium-rich-diets-may-help-prevent-kidney-stones-from-developing-again/1071746/">Research
                    reveals calcium and potassium-rich diets prevent kidney stones</a>
                <p> Signals buried deep in data from gravitational wave observatories imply a collision of two black
                    holes that were clearly born in different places.
                    Almost all the spacetime ripples that experiments like the Laser Interferometer Gravitational-Wave
                    Observatory.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://indianexpress.com/article/trending/trending-globally/71-year-old-granny-jordan-wins-the-internet-with-her-basketball-skills-in-mexico-8076769/">
                <img src="assets/granny.png" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://indianexpress.com/article/trending/trending-globally/71-year-old-granny-jordan-wins-the-internet-with-her-basketball-skills-in-mexico-8076769/">71-year-old
                    ‘Granny Jordan’ wins the internet</a>
                <p class="card-text">Proving the maxim right, Andrea Garcia Lopez, 71, from Mexico has become an
                    internet sensation by virtue of her basketball skills.
                    The elderly woman’s stunning basketball skills and she has been nicknamed “Granny Jordan” by TikTok
                    users. A video of her playing basketball has gone viral </p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://indianexpress.com/article/trending/trending-globally/mother-daughter-duo-fly-plane-together-8069087/">
                <img src="assets/duo.jpg" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://indianexpress.com/article/trending/trending-globally/mother-daughter-duo-fly-plane-together-8069087/">A
                    dream come true’: Mother-daughter duo fly plane together</a>
                <p class="card-text">A mother-daughter pilot team has won hearts online as they made history by taking
                    their first flight together last month.
                    Captain Holly Petitt and first officer Keely Petitt became the first mother-daughter duo to fly
                    together in the 55-year history of Southwest Airlines, ABC News reported.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a
                href="https://www.innovationnewsnetwork.com/advancing-lidar-systems-with-chip-based-beam-steering-technology/24132/">
                <img src="assets/fashion.webp" height="200px" width="100%" class="card-img-top"></a>
            <div class="card-body">
                <a class="nav-link"
                    href="https://www.innovationnewsnetwork.com/advancing-lidar-systems-with-chip-based-beam-steering-technology/24132/">A
                    dream come true’: Mother-daughter duo fly plane together</a>
                <p class="card-text">Between the destination shows for Resort, Couture, and Men’s Weeks, there was no
                    shortage of chic summer outfits to digest this season—these fashion showgoers gave us plenty of
                    inspiration. Look to this season’s street
                    style set for what to wear to combat the hottest of heat waves to the more enjoyable balmy summer
                    days.</p>
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Like</button> &nbsp; &nbsp;
                <button style="color:aliceblue;" class="btn btn-info"
                    style="padding-right: 20px; text-align: center;">Comment</button> &nbsp; &nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://web.whatsapp.com/">Share By Whatsapp</a></li>
                    <li><a class="dropdown-item" href="https://accounts.google.com/">Share By Gmail</a></li>
                    <li><a class="dropdown-item" href="https://in.linkedin.com/">Share to linked-in</a></li>
                </ul>
            </div>
        </div>
    </div>